body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table th, table td {
    padding: 10px;
    text-align: left;
}

table th {
    background-color: #333;
    color: white;
}

table td {
    background-color: #f9f9f9;
}

.result {
    margin-top: 20px;
    padding: 15px;
    background-color: #e6f7ff;
    border-left: 4px solid #007bff;
}

.result p {
    margin: 0;
    font-weight: bold;
}

.botao-container{
    display: flex;
    justify-content: center;
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.hidden {
    display: none;
}

footer {
    margin-top: auto;
    background-color: #333;
    padding: 20px;
    color: #fff;
    text-align: center;
}

footer a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    color: #ccc;
}